.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 1rem 2rem;

    background-color: #fff;

    gap: 1rem;
}

.container__primary__fields {
    display: flex;
    flex-direction: column;

    margin: 1.5rem 0 0.5rem 0;

    gap: 3rem;
}

.container__links {
    width: 100%;
    padding: 1rem;

    text-align: center;

    border-top: 1px solid #C2C2C2;

    .link {
        font-size: 1.8rem;

        text-decoration: none;
        letter-spacing: 0.1rem;

        color: #515C5C;
    }
}
