.button__secondary {
    font-size: 1.25rem;

    cursor: pointer;
    letter-spacing: 0.1rem;

    color: #515C5C;
    border: none;
    border-radius: 0.3rem;
    outline: none;
    background-color: transparent;
}
